*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color:black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    width: auto;
    height: auto;
}
#box2 {
  position: absolute;
  width: 50px;
  height: 46px;
  left: 30px;
  top: 7px;
  background: black;
  border-radius: 10px;
}
#box {
  position: absolute;
  width: 50px;
  height: 46px;
  left: 32px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: white;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.slide{
    display: none;
    cursor: pointer;
}
.slide div{
    width: 25px;
    height: 3px;
    background-color:white;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 35vh;
        top: 5vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        border-radius: 2px;
        
    }
    .nav-links li{
        opacity: 100;
    }
    .slide{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.container1 img{
    width: 100%;
    margin: auto;
}
.partitle div{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    position: absolute;
    color: white;
    text-align: center;
}

.partitleloc {
    left: 410px;
    top: 1200px;
    font-size: 28px;
    font-weight:bold;
}
.partitleloc2 {
    left: 1050px;
    top: 2000px;
}
.partitlelocation{
    left: 410px;
    top: 100px;
}
.partitlelocation2{
    left:1050px;
    top:900px;
    font-size: 22px;
}
.partitlelocation3{
    left:410px;
    top: 1560px;
    font-size: 22px;
}
.partitleloc3{
    top: 2650px;
}
.part{
    top:100px;
    left:1050px;
}
.part1{
    top: 750px;
    left: 380px;
    font-weight: normal;
}

.linestrip{
    position: absolute;
    width: 230px;
    height: 2px;
    left: 215px;
    top: 1280px;
    background-color: #FDD00B;
    border-radius: 10px;
}
.color1{
    background-color:#AFFF04;
    left: 900px;
    top: 800px;
    position: absolute; 
}
.color2{
    background-color: #FD620B;
    top: 1460px;
    left: 0px;
}
.color3{
    background-color: #FD620B;
    top: 1460px;
    left: 900px;
}
.color4{
    top: 180px;
}
.color5{
    top: 800px;
}
.shadow{
    width: 393px;
    height: 518px;
    left: 250px;
    top: 1350px;
    border-radius: 50px;
    z-index: 1;
}
.pict img{
    position: absolute;
    width: 393px;
    height: 518px;
    left: 230px;
    top: 1340px;
    border-radius: 50px;
    z-index: 2;
}
.aboutpict img{
    top:250px;
}
.aboutpict div{
    top:260px;    
}
.image2 img{
    position: absolute;
    width: 600px;
    height: 308px;
    left: 720px;
    top: 2140px;
    border-radius: 20px;
    z-index: 0;
}
.imageschool{
    width: 300px;
    height: 150px;
    left: -100px;
    position: absolute;
    top: -1050px;
    border-radius: 20px;
    z-index: 0;
}
.image img{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 330px;
    top: 2800px;
    border-radius: 20px;
}
.image3 img{
    position: absolute;
    width: 599px;
    height: 332px;
    left: 82px;
    top: 300px;
    border-radius: 20px;
}
#size2 {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 925px;
    top: 2800px;
    border-radius: 20px;
}
.image h3{
    color: white;
    position: absolute;
    top: 3000px;
    left: 330px;
    width: 300px;
    text-align: center;
}
#righth3{
    color: white;
    position: absolute;
    top: 3000px;
    left: 925px;
    width: 300px;
    text-align: center;
}
.image h4{
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 3080px;
    left: 330px;
    width: 300px;
    text-align: center;
}
#righth4{
    left: 925px;
    width: 300px;
    text-align: center;
}
.rowimage img{
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 150px;
    margin-top: 20px;
    margin-left: 130px;
    border-radius: 20px;
}
.socmed img{
    width: 50px;
    height: 50px;
    padding: 10px;
    position: relative;
    top: 200px;
    margin-top: 20px;
    left: 700px;
    border-radius: 20px;
}
.socmedtext p{
    position: relative;
    margin-top: 30px;
    color: white;
    font-size: 28px;
    top: -290px;
    padding: 12px;
    margin-left: 800px;
}
.rowtext p{
    text-align: justify;
    width: 500px;
    top: 280px;
    position: absolute;
    height: 200px;
    margin-left: 650px;
    border-radius: 20px;
    color: white;
}
.rowtext .b{
    top: 520px;
}
.rowtext .c{
    top: 780px;
}
.rowtext .d{
    top: 1020px;
}
.linevertical{
    position: absolute;
    width: 750px;
    height: 0px;
    left: 150px;
    top: 720px;
    border: 1px solid #FD620B;
    transform: rotate(90deg);
}
.titik{
    position: absolute;
    width: 19px;
    height: 18px;
    left: 517px;
    top: 340px;
    background: #FD620B;
    border-radius: 20px;
}
.titik2{
    top: 580px;
}
.titik3{
    top: 820px;
}
.titik4{
    top: 1080px;
}
.linetext{
    position: absolute;
    width: 600px;
    height: 248px;
    left: 350px;
    top: 2177px;
    background: rgba(175, 255, 4, 0.53);
    border-radius: 20px;
    z-index: 1;
}
.linetext1{
    background-color:rgba(253, 98, 11, 0.84);
}
.linetext2{
    background-color: rgba(253, 208, 11, 0.73);
    top: 300px;
    left: 200px;
    width: 560px;
    height: 245px;
    left: 600px;
    top: 420px;
}
.text {
    text-align: center;
    font-size: 26px;
    left: 760px;
    top: 1300px;
    font-weight: normal;
}
.partitle .textbox{
    width: 741px;
    height: 455px;
    top: 300px;
    left:730px;
    text-align: justify;
}
.textname{
    font-size: 30px;
    top:200px;
    left: 860px;
}
.partitle .textbox2{
    width: 500px;
    top: 500px;
    left: 627px;
    z-index: 2;
}
.text2 {
    left: 680px;
    top: 1500px;
    font-size: 36px;
}
.text3{
    left: 400px;
    top: 2240px;
    width: 500px;
    font-weight: normal;
    text-align: center;
    z-index: 3;
}
.text4{
    top: 1200px;
    left: 290px;
}
.pict a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 40px;
    border-radius: 10px;
}
.pict a:hover {
    background-color: #ddd;
    color: black;
}
.next {
    background-color: #2C2B28;
    color: white;
}
.nextloc {
    position:absolute;
    left: 1030px;
    top: 1650px;    
}
.nextloc2 {
    position: absolute;
    left: 500px;
    top: 2500px;
}
.nextloc3{
    position: absolute;
    left: 690px;
    top: 3200px;
}
.picture iframe{
    position: absolute;
    top: 800px;
    width: 50%;
    vertical-align: middle;
    left: 380px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.let p{
    position: absolute;
    width: 588px;
    height: 139px;
    left: 79px;
    top: 200px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 144px;
    text-align: center;

    color: #FFFFFF;
}

/* footer */
.footer-distributed{
	background-color: #2C2B28;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Poppins',sans-serif;
    padding: 55px 50px;
    margin: auto;
    top: 3400px;
    position: absolute;
}
.footerabout{
    top: 2100px;
}
.footerproject{
    top: 1400px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Poppins',sans-serif;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i img{
	color: #ffffff;
	font-size: 25px;
	width: 35px;
	height: 35px;
	border-radius: 2px;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 26px;
	font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins',sans-serif;
}

.footer-distributed .footer-icons{
	margin-top: 70px;
}

.footer-distributed .footer-icons a img{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1024px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
.container{
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 10px;
} 
.card{
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    position: absolute;
    top: 1700px;
    left: 300px;
    margin-bottom: 150px;
}
.skill-bar label{
    text-align: left;
    padding: 10px;
    font-size: 12px;
    color: white;
}
.skill{
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
.python{width: 70%;background-color:#FDD00B}
.java{width: 60%;background-color:#FDD00B}
.microsoftOffice{width: 80%;background-color:#FDD00B}
.adobeIllustrator{width: 70%;background-color:#FDD00B}
.adobeAfter{width: 80%;background-color: #FDD00B}

