*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color:black;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    padding: 5px;
    margin: auto;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
}
p{
    text-align: center;
    color: white;
    font-weight: bold;
    top: 100px;
    margin-top: 20px;
    /* font-size: 36px; */
}
.rowimage img{
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 150px;
    margin-top: 20px;
    margin-left: -900px;
    border-radius: 20px;
}
.socmed img{
    width: 70px;
    height: 70px;
    padding: 10px;
    position: relative;
    top: 200px;
    margin-top: 20px;
    left: 0px;
    border-radius: 20px;
}
.socmedtext p{
    position: relative;
    margin-top: 40px;
    color: white;
    font-size: 28px;
    top: -335px;
    padding: 12px;
    margin-left: 500px;
}
@media screen and (max-width:768px){
    p{
        display: block;
        font-size: 8px;
        text-align: center; 
    }
}
.column img {
    flex: 33.33%;
    margin-top: 40px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}
@media screen and (max-width:768px){

    .partitle div{
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        position: absolute;
        color: white;
        text-align: center;
        margin-left :100px;
        margin-right: 100px;
    }

    .partitleloc {
        left: 70px;
        top: 400px;
        font-size: 16px;
        font-weight:bold;
    }
    .partitleloc2 {
        left: 90px;
        top: 650px;
    }
    .partitlelocation{
        left: 70px;
        top: 120px;
    }
    .partitlelocation2{
        left:90px;
        top:630px;
        font-size: 12px;
    }
    .partitlelocation3{
        left:80px;
        top: 930px;
        font-size: 12px;
    }
    .partitleloc3{
        top: 925px;
        left: 77px;
    }
    .part{
        top:100px;
        left:150px;
    }
    .part1{
        top: 470px;
        left: 100px;
        font-weight: normal;
    }

    .linestrip{
        margin-left :100px;
        margin-right: 100px;
        position: absolute;
        width: 100px;
        height: 2px;
        left: 0px;
        top: 450px;
        background-color: #FDD00B;
        border-radius: 10px;
    }
    .color1{
        background-color:#AFFF04;
        left: 25px;
        top: 250px;
        position: absolute; 
    }
    .color2{
        background-color: #FD620B;
        top: 530px;
        left: -100px;
    }
    .color6{
        top: 800px;
    }
    .color3{
        background-color: #FD620B;
        top: 530px;
        left: 25px;
    }
    .color4{
        top: 180px;
    }
    .color7{
        left:180px;
    }
    .color5{
        top: 500px;

    }
    .shadow{
        width: 70px;
        height: 120px;
        left: 10px;
        top: 483px;
        border-radius: 10px;
        z-index: 1;
    }
    .pict img{
        position: absolute;
        width: 70px;
        height: 120px;
        left: 5px;
        top: 480px;
        border-radius: 10px;
        z-index: 2;
        margin-left :100px;
        margin-right: 100px;
    }
    .aboutpict img{
        top:210px;
        left: 50px;
    }
    .aboutpict div{
        top:215px; 
        left: 55px;   
    }
    .image2 img{
        position: absolute;
        width: 150px;
        height: 100px;
        left: 170px;
        top: 730px;
        border-radius: 10px;
        z-index: 0;
    }
    .imageschool{
        width: 150px;
        height: 50px;
        left: 0px;
        position: absolute;
        top: 0px;
        border-radius: 20px;
        z-index: 0;
    }
    .image img{
        position: absolute;
        width: 100px;
        height: 80px;
        left: 0px;
        top: 1000px;
        border-radius: 10px;
        margin-right: 100px;
        margin-left: 100px;
    }
    .image3 img{
        position: absolute;
        width: 200px;
        height: 100px;
        left: 90px;
        top: 240px;
        border-radius: 10px;
    }
    #size2 {
        position: absolute;
        width: 100px;
        height: 80px;
        left: 125px;
        top: 1000px;
        border-radius: 10px;
    }
    .image h3{
        color: white;
        position: absolute;
        top: 1100px;
        left: 100px;
        width: 100px;
        text-align: center;
        font-size: 14px;
    }
    #righth3{
        color: white;
        position: absolute;
        top: 1100px;
        left: 225px;
        width: 100px;
        text-align: center;
        font-size: 14px;
    }
    .image h4{
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 1160px;
        left: 100px;
        width: 100px;
        text-align: center;
        font-size: 10px;
    }
    #righth4{
        left: 225px;
        width: 100px;
        text-align: center;
    }
    .rowimage img{
        width: 300px;
        height: 200px;
        padding: 10px;
        position: relative;
        top: 130px;
        margin-top: 55px;
        margin-left: 10px;
        border-radius: 20px;
    }
    .socmed img{
        width: 50px;
        height: 50px;
        padding: 10px;
        position: relative;
        top: 200px;
        margin-top: 20px;
        left: 0px;
        border-radius: 20px;
    }
    .socmedtext p{
        position: relative;
        margin-top: 30px;
        color: white;
        font-size: 16px;
        top: -220px;
        padding: 20px;
        margin-left: 0px;
    }
    .rowtext p{
        text-align: justify;
        width: 300px;
        top: 450px;
        position: absolute;
        height: 200px;
        margin-left: 95px;
        border-radius: 20px;
        color: white;
    }
    .rowtext .b{
        top: 730px;
    }
    .rowtext .c{
        top: 1000px;
    }
    .rowtext .d{
        top: 1300px;
    }
    .container{
        width: 100%;
        background-color: #f2f2f2;
        margin-bottom: 10px;
        border-radius: 10px;
    } 
    .card{
        width: 100%;
        max-width: 200px;
        border-radius: 5px;
        position: absolute;
        top: 1000px;
        left: 110px;
        margin-bottom: 150px;
    }
    .skill-bar label{
        text-align: left;
        padding: 10px;
        font-size: 12px;
        color: white;
    }
    .skill{
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
    }
    .python{width: 70%;background-color:#FDD00B}
    .java{width: 60%;background-color:#FDD00B}
    .microsoftOffice{width: 80%;background-color:#FDD00B}
    .adobeIllustrator{width: 70%;background-color:#FDD00B}
    .adobeAfter{width: 80%;background-color: #FDD00B}
    .linevertical{
        position: absolute;
        width: 750px;
        height: 0px;
        left: 150px;
        top: 720px;
        border: 1px solid #FD620B;
        transform: rotate(90deg);
    }
    .titik{
        position: absolute;
        width: 19px;
        height: 18px;
        left: 517px;
        top: 340px;
        background: #FD620B;
        border-radius: 20px;
    }
    .titik2{
        top: 580px;
    }
    .titik3{
        top: 820px;
    }
    .titik4{
        top: 1080px;
    }
    .linetext{
        position: absolute;
        width: 160px;
        height: 115px;
        left: 100px;
        top: 745.5px;
        background: rgba(175, 255, 4, 0.53);
        border-radius: 10px;
        z-index: 1;
    }
    .linetext1{
        background-color:rgba(253, 98, 11, 0.84);
    }
    .linetext2{
        background-color: rgba(253, 208, 11, 0.73);
        width: 200px;
        height: 95px;
        left: 190px;
        top: 280px;
    }
    .text {
        text-align: center;
        font-size: 10px;
        left: 90px;
        top: 460px;
        width: 140px;
        font-weight: normal;
    }
    .partitle .textbox{
        width: 300px;
        height: 455px;
        top: 350px;
        left:0px;
        text-align: justify;
        font-size: 8px;
    }
    .textname{
        font-size: 30px;
        top:200px;
        left: 860px;
    }
    .partitle .textbox2{
        width: 180px;
        top: 290px;
        left: 100px;
        font-size: 8px;
        z-index: 2;
    }
    .text2 {
        left: 90px;
        top: 530px;
        width: 140px;
        font-size: 12px;
    }
    .text3{
        left: 0px;
        top: 750px;
        width: 150px;
        font-weight: normal;
        text-align: center;
        z-index: 3;
        font-size: 8px;
    }
    .text4{
        top: 740px;
        left: 5px;
        font-size: 8px;
        width: 150px;
    }
    .pict a{
        text-decoration: none;
        display: inline-block;
        padding: 2px 2px;
        border-radius: 2px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .pict a:hover {
        background-color: #ddd;
        color: black;
    }
    .next {
        background-color: #2C2B28;
        color: white;
        font-size: 9px;
    }
    .nextloc {
        position:absolute;
        left: 150px;
        top: 590px;    
    }
    .nextloc2 {
        position: absolute;
        left: 10px;
        top: 870px;
    }
    .nextloc3{
        position: absolute;
        left: 690px;
        top: 3200px;
    }
    .picture iframe{
        position: absolute;
        top: 500px;
        width: 50%;
        vertical-align: middle;
        left: 120px;
        border-radius: 10px;
        margin-bottom: 100px;
    }
    .let p{
        position: absolute;
        width: 588px;
        height: 139px;
        left: -50px;
        top: 170px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 144px;
        text-align: center;

        color: #FFFFFF;
    }
    .footer-distributed{
        background-color: #2C2B28;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px 'Poppins',sans-serif;
        padding: 55px 50px;
        margin: auto;
        top: 1300px;
        position: absolute;
    }
    .footerabout{
        top: 2100px;
    }
    .footerproject{
        top: 1400px;
    }
}