{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{% static 'static2/css/style1.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body id="about">
    <nav class="navbar">
        <div class="boxx">
            <a href="{% url 'lab_2:hal1' %}"><div id="box2"></div><div id="box">Jr.</div></a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'lab_2:about' %}">About</a></li>
            <li><a href="{% url 'lab_2:project' %}">Project</a></li>
            <li><a href="{% url 'lab_2:activity' %}">Activities</a></li>
            <li><a href="{% url 'lab_2:contact' %}">Contact</a></li>
        </ul>
        <div class="slide">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="partitle">
        <div class="partitle partitleloc partitlelocation">About</div>
        <div class="partitle partitleloc partitlelocation2">Education</div>
        <div class="partitle partitleloc partitlelocation3">Skills</div>
        <div class="partitle text textname">Fajar Anugerah Subekti</div>
        <div class="partitle text3 text4"><p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. 
                    Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per</p></div>
        <div class="partitle textbox">Hallo, I’m a student on Computer Science in University of Indonesia.
            I was born in Jakarta , Juny 7th 2000. Currently, I live in Babul Minan Street 007/008 Joglo, Kembangan, West Jakarta. 
            Speaking of my hobby. Playing football is one of my hobby. I can play football since 6th grade.    
            <br><br>
            Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad 
            putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. 
            Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. 
            Te facilisis mnesarchum qui posse mnium mediocritatem est cu. Modus argumentum ne qui tation efficiendi in eos. 
            Ei mea falli legere efficiantur et tollit aliquip debitis mei. 
            <br><br>
            No deserunt mediocritatem mel. 
            Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. 
            Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. 
            Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. 
            Te facilisis mnesarchum qui
        </div>
    </div>
    <div class="linestrip color4">
        <div class="linestrip color1 color5"></div>
        <div class="linestrip color2 color6" ></div>
    </div>
    <div class="pict aboutpict">
        <img class="pict" src="{% static 'static2/img/3×4.jpg'%}" alt="">
            <div class="linestrip shadow"></div>
    </div>
    <div class="image2 imageschool">
        <img src="{% static 'static2/img/sekola.jpg'%}" alt="">
            <div class="image2 linetext linetext1"></div>
    </div>
    <div class="card">
        <div class="skill-bar">
            <label>Python</label>
            <div class="container">
                <div class="skill python">70%</div>
            </div>
            <label>Java</label>
            <div class="container">
            <div class="skill java">60%</div>
            </div>
            <label>Microsoft Office</label>
            <div class="container">
            <div class="skill microsoftOffice">80%</div>
            </div>
            <label>Adobe Illustrator</label>
            <div class="container">
            <div class="skill adobeIllustrator">70%</div>
            </div>
            <label>Adobe After Effect</label>
            <div class="container">
            <div class="skill adobeAfter">80%</div>
            </div>
        </div>
    </div>

    <footer class="footer-distributed footerabout">
        <div class="footer-left">
            <h3>My<span>website</span></h3>
            <p class="footer-links">
                <a href="{% url 'lab_2:galery' %}">Gallery</a>
            </p>
            <p class="footer-company-name">Copyright &copy; 2019</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"><img src="{% static 'static2/img/Gmaps.png'%}" alt=""></i>
                <p><span>Babul Minan Street 007/008</span>Joglo, Kembangan, West Jakarta 11640</p>
            </div>
            <div>
                <i class="fa fa-phone"><img src="{% static 'static2/img/telp.png'%}" alt=""></i>
                <p>+62 858 9469 7220</p>
            </div>
            <div>
                <i class="fa fa-envelope"><img src="{% static 'static2/img/gmail.png'%}" alt=""></i>
                <p><a href="#">fajar245.fa@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Let's Talk at :</span>
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jarwof.jarwof" target="_blank"><i class="fa fa-facebook"></i><img src="{% static 'static2/img/facebook.png'%}" alt=""></a>
                <a href="https://twitter.com/Fajar_AS_" target="_blank"><i class="fa fa-twitter"></i><img src="{% static 'static2/img/twitter.png'%}" alt=""></a>
                <a href="https://www.linkedin.com/in/fajar-anugerah-375aa8171/" target="_blank"><i class="fa fa-linkedin"></i><img src="{% static 'static2/img/linkedin.png'%}" alt=""></a>
                <a href="https://www.instagram.com/jwjro_as_/" target="_blank"><i class="fa fa-instagram"></i><img src="{% static 'static2/img/Ig.png'%}" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="{% static 'static2/js/app.js'%}"></script>
</body>
</html>