{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'static2/css/bootstrap-4.3.1-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style1.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Activities</title>
</head>
<body>
    <nav class="navbar">
        <div class="boxx">
            <a href="{% url 'lab_2:hal1' %}"><div id="box2"></div><div id="box">Jr.</div></a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'lab_2:about' %}">About</a></li>
            <li><a href="{% url 'lab_2:project' %}">Project</a></li>
            <li><a href="{% url 'lab_2:activity' %}">Activities</a></li>
            <li><a href="{% url 'lab_2:contact' %}">Contact</a></li>
        </ul>
        <div class="slide">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="partitle">
        <div class="partitle partitleloc partitlelocation">Activities</div>
        <div class="linestrip color4"></div>
    </div>
    <div class="rowimage">
        <p><img src="{% static 'static2/img/Act3.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/Act2.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/Act.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/Ens.png'%}" alt=""></p>
    </div>
    <div class="partitle rowtext">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nulla nemo architecto animi atque reiciendis laboriosam minus, consequatur temporibus incidunt officia facere quibusdam, fuga perferendis voluptatibus nam magni dicta tempora!</p>
        <p class="b">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nulla nemo architecto animi atque reiciendis laboriosam minus, consequatur temporibus incidunt officia facere quibusdam, fuga perferendis voluptatibus nam magni dicta tempora!</p>
        <p class="c">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nulla nemo architecto animi atque reiciendis laboriosam minus, consequatur temporibus incidunt officia facere quibusdam, fuga perferendis voluptatibus nam magni dicta tempora!</p>
        <p class="d">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nulla nemo architecto animi atque reiciendis laboriosam minus, consequatur temporibus incidunt officia facere quibusdam, fuga perferendis voluptatibus nam magni dicta tempora!</p>
    </div>
    <div class="linevertical"></div>
    <div class="titik"></div>
    <div class="titik titik2"></div>
    <div class="titik titik3"></div>
    <div class="titik titik4"></div>
    <footer class="footer-distributed footerproject">
        <div class="footer-left">
            <h3>My<span>website</span></h3>
            <p class="footer-links">
                <a href="{% url 'lab_2:galery' %}">Gallery</a>
            </p>
            <p class="footer-company-name">Copyright &copy; 2019</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"><img src="{% static 'static2/img/Gmaps.png'%}" alt=""></i>
                <p><span>Babul Minan Street 007/008</span>Joglo, Kembangan, West Jakarta 11640</p>
            </div>
            <div>
                <i class="fa fa-phone"><img src="{% static 'static2/img/telp.png'%}" alt=""></i>
                <p>+62 858 9469 7220</p>
            </div>
            <div>
                <i class="fa fa-envelope"><img src="{% static 'static2/img/gmail.png'%}" alt=""></i>
                <p><a href="#">fajar245.fa@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Let's Talk at :</span>
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jarwof.jarwof" target="_blank"><i class="fa fa-facebook"></i><img src="{% static 'static2/img/facebook.png'%}" alt=""></a>
                <a href="https://twitter.com/Fajar_AS_" target="_blank"><i class="fa fa-twitter"></i><img src="{% static 'static2/img/twitter.png'%}" alt=""></a>
                <a href="https://www.linkedin.com/in/fajar-anugerah-375aa8171/" target="_blank"><i class="fa fa-linkedin"></i><img src="{% static 'static2/img/linkedin.png'%}" alt=""></a>
                <a href="https://www.instagram.com/jwjro_as_/" target="_blank"><i class="fa fa-instagram"></i><img src="{% static 'static2/img/Ig.png'%}" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="{% static 'static2/js/app.js'%}"></script>
    
</body>
</html>