{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'static2/css/bootstrap-4.3.1-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style1.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
    <nav class="navbar">
        <div class="boxx">
            <a href="{% url 'lab_2:hal1' %}"><div id="box2"></div><div id="box">Jr.</div></a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'lab_2:hal1' %}">About</a></li>
            <li><a href="{% url 'lab_2:project' %}">Project</a></li>
            <li><a href="{% url 'lab_2:activity' %}">Activities</a></li>
            <li><a href="{% url 'lab_2:contact' %}">Contact</a></li>
        </ul>
        <div class="slide">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="partitle">
        <div class="partitle partitleloc partitlelocation">Contact</div>
        <div class="linestrip color4"></div>
    </div>
    <div class="let"><p>LET’S TALK</p></div>
    <div class="socmed">
        <p><img src="{% static 'static2/img/Ig.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/twitter.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/facebook.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/gmail.png'%}" alt=""></p>
        <p><img src="{% static 'static2/img/linkedin.png'%}" alt=""></p>
    </div>
    <div class="partitle socmedtext">
        <p>Jwjro_as_</p>
        <p class="tw">Fajar_as_</p>
        <p class="fb">Fajar Anugerah Subekti</p>
        <p class="gm">Fajar245.fa@gmail.com</p>
        <p class="ld">Fajar Anugerah</p>
    </div>
    <script src="{% static 'static2/js/app.js'%}"></script>
</body>
</html>