{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'static2/css/bootstrap-4.3.1-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'static3/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Schedule</title>
</head>
<body style="background-image: url(/static/static3/img/wall.jpg)">
    <div class="container-fluid " id="wrapper">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-4" id="content" style="border-radius:10px">
                <div class="h1 text-center" style="font-weight:bold"> ADD YOUR SCHEDULE</div>
                <form action="{% url 'lab_2:tambahJadwal' %}" method="POST" role="form">
                    {% csrf_token %}
                    <table>
                    <div class="form-group">
                        <label for="nmKegiatan" style="font-size: 16px">Nama Kegiatan</label>
                        <div class="input-group">
                            {{form.nmKegiatan}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tanggal" style="font-size: 16px">Tanggal</label>
                        <div class="input-group">
                            {{form.tanggal}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tempat" style="font-size: 16px">Tempat</label>
                        <div class="input-group">
                            {{form.tempat}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="waktu" style="font-size: 16px">Waktu</label>
                        <div class="input-group">
                            {{form.waktu}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kategori" style="font-size: 16px">Kategori</label>
                        <div class="input-group">
                            {{form.kategori}}
                        </div>
                    </div>
                    </table>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary" id="add-btn">ADD</button>
                    </span>
                </form>

                <ul class="list-group t20">
                    <table>
                        <tr>
                            <td><li class="list-group-item">Nama Kegiatan</li></td>
                            <td><li class="list-group-item">Tanggal</li></td>
                            <td><li class="list-group-item">Tempat</li></td>
                            <td><li class="list-group-item">Waktu</li></td>
                            <td><li class="list-group-item">Kategori</li></td>
                        </tr>
                    </table>
                    {% for jadwal in jadwal_list %}
                    <table>
                        <tr>
                            <td><li class="list-group-item">{{ jadwal.nmKegiatan}}</li></td>
                            <td><li class="list-group-item">{{ jadwal.tanggal}}</li></td>
                            <td><li class="list-group-item">{{ jadwal.tempat}}</li></td>
                            <td><li class="list-group-item">{{ jadwal.waktu}}</li></td>
                            <td><li class="list-group-item">{{ jadwal.kategori}}</li></td>
                            <td>
                                {% if jadwal.pilihan %}
                                <a href="{% url 'lab_2:pilih' jadwal.id %}">
                                    <button class="btn" >
                                    </button>
                                </a>
                                {% else %}
                                <a href="{% url 'lab_2:pilih' jadwal.id %}">
                                    <button class="btn" style="background-color: black;">
                                    </button>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                    <br>
                    <br>
                    <a href="{% url 'lab_2:hapusJadwal' %}" ><span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" id="add-btn">Delete</button>
                    </span></a>
                </ul>
            </div>
        </div>
        <footer>
            <div class="row pad">
                <div class="col-lg-12 text-center">
                    Copyright &copy; 2020 <strong>Kuy Mabar Bang</strong>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>