{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'static2/css/bootstrap-4.3.1-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style1.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Project</title>
</head>
<body id="project">
    <nav class="navbar">
        <div class="boxx">
            <a href="{% url 'lab_2:hal1' %}"><div id="box2"></div><div id="box">Jr.</div></a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'lab_2:hal1' %}">About</a></li>
            <li><a href="{% url 'lab_2:project' %}">Project</a></li>
            <li><a href="{% url 'lab_2:activity' %}">Activities</a></li>
            <li><a href="{% url 'lab_2:contact' %}">Contact</a></li>
        </ul>
        <div class="slide">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="partitle">
        <div class="partitle partitleloc part">Project</div>
        <div class="partitle textbox textbox2 ">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. 
            Vidit dissentiet eos cu eum an brute copiosae hendrerit. 
            Eos erant dolorum an. Per</div>
        <div class="partitle partitleloc part1">Location :</div>
    </div>
    <div class="picture">
        <div class="linestrip color1 color4 color7"></div>
        <div class="image3">
            <img src="{% static 'static2/img/Bengkel.jpg'%}" alt="">
            <div class="image2 linetext linetext2"></div>
        </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5420.261737904976!2d106.78551561826526!3d-6.206659968902198!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f6b8102042b9%3A0xceafeeb34a64f2c4!2sMandiri%20Motor!5e0!3m2!1sid!2sid!4v1569255798723!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" frameborder="0" style="border: 1"></iframe>
    </div>
    <footer class="footer-distributed footerproject">
        <div class="footer-left">
            <h3>My<span>website</span></h3>
            <p class="footer-links">
                <a href="galery.html">Gallery</a>
            </p>
            <p class="footer-company-name">Copyright &copy; 2019</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"><img src="{% static 'static2/img/Gmaps.png'%}" alt=""></i>
                <p><span>Babul Minan Street 007/008</span>Joglo, Kembangan, West Jakarta 11640</p>
            </div>
            <div>
                <i class="fa fa-phone"><img src="{% static 'static2/img/telp.png'%}" alt=""></i>
                <p>+62 858 9469 7220</p>
            </div>
            <div>
                <i class="fa fa-envelope"><img src="{% static 'static2/img/gmail.png'%}" alt=""></i>
                <p><a href="#">fajar245.fa@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Let's Talk at :</span>
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jarwof.jarwof" target="_blank"><i class="fa fa-facebook"></i><img src="{% static 'static2/img/facebook.png'%}" alt=""></a>
                <a href="https://twitter.com/Fajar_AS_" target="_blank"><i class="fa fa-twitter"></i><img src="{% static 'static2/img/twitter.png'%}" alt=""></a>
                <a href="https://www.linkedin.com/in/fajar-anugerah-375aa8171/" target="_blank"><i class="fa fa-linkedin"></i><img src="{% static 'static2/img/linkedin.png'%}" alt=""></a>
                <a href="https://www.instagram.com/jwjro_as_/" target="_blank"><i class="fa fa-instagram"></i><img src="{% static 'static2/img/Ig.png'%}" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="{% static 'static2/js/app.js'%}"></script>
</body>
</html>