{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'static2/css/bootstrap-4.3.1-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style1.css'%}">
    <link rel="stylesheet" href="{% static 'static2/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Fajar Anugerah Subekti</title>
</head>
<body class="bod">
    <nav>
        <div>
            <a href="{% url 'lab_2:hal1' %}"><div id="box2"></div><div id="box">Jr.</div></a>
        </div>
        <ul class="nav-links">
            <li><a href="#about" type="_self">About</a></li>
            <li><a href="#project" type="_self">Project</a></li>
            <li><a href="#activities" type="_self">Activities</a></li>
            <li><a href="{% url 'lab_2:contact' %}"type="_self">Contact</a></li>
        </ul>
        <div class="slide">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <section>
        <div class="container1">
            <img src="{% static 'static2/img/BackGround.png'%}" alt="">
        </div>
    </section>
    <div class="partitle">
        <div class="partitle partitleloc" id="about">About</div>
        <div class="partitle partitleloc partitleloc2 " id="project">Project</div>
        <div class="partitle partitleloc partitleloc3" id="activities">Activities</div>
        <div class="partitle text">“It’s not about ideas. It’s about making ideas happen.”</div>
        <div class="partitle text2">I’m a student on Computer Science in University of Indonesia</div>
        <div class="partitle text3">In Progress to improving the performance of a mechanic at my motorcycle repair shop Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Labore quidem eligendi fugiat. Beatae cum tenetur ullam dolore, hic mollitia soluta nihil atque tempora dolorum eius magnam et eum non quae.</div>
    </div>
    <div class="linestrip">
        <div class="linestrip color1"></div>
        <div class="linestrip color2"></div>
        <div class="linestrip color3"></div>
    </div>
    <div class="pict">
        <img class="pict" src="{% static 'static2/img/3×4.jpg'%}" alt="">
            <div class="linestrip shadow"></div>
                <a href="{% url 'lab_2:about' %}" class="pict next nextloc">Read More &raquo;</a>
                <a href="{% url 'lab_2:project' %}" class="pict next nextloc2">Read More &raquo;</a>
                <a href="{% url 'lab_2:activity' %}" class="pict next nextloc3">Read More &raquo;</a>
    </div>
    <div class="image2">
        <img src="{% static 'static2/img/Bengkel.jpg'%}" alt="">
            <div class="image2 linetext"></div>
    </div>
    <div class="image">
        
        <img src="{% static 'static2/img/Act.jpg'%}" alt="">
        <img id="size2" src="{% static 'static2/img/Act2.jpg'%}" alt="">
        <h3>Computer Science League 2019</h3>
        <h3 id="righth3">Runtime Error</h3>
        <h4>Futsal Competition at faculty of Computer Science are regularly held every year</h4>
        <h4 id="righth4">Running competition activities on 2019 at faculty of Computer Science</h4>
    </div>

    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>My<span>website</span></h3>
            <p class="footer-links">
                <a href="{% url 'lab_2:galery' %}">Gallery</a>
            </p>
            <p class="footer-company-name">Copyright &copy; 2019</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"><img src="{% static 'static2/img/Gmaps.png'%}" alt=""></i>
                <p><span>Babul Minan Street 007/008</span>Joglo, Kembangan, West Jakarta 11640</p>
            </div>
            <div>
                <i class="fa fa-phone"><img src="{% static 'static2/img/telp.png'%}" alt=""></i>
                <p>+62 858 9469 7220</p>
            </div>
            <div>
                <i class="fa fa-envelope"><img src="{% static 'static2/img/gmail.png'%}" alt=""></i>
                <p><a href="#">fajar245.fa@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Let's Talk at :</span>
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/jarwof.jarwof" target="_blank"><i class="fa fa-facebook"></i><img src="{% static 'static2/img/facebook.png'%}" alt=""></a>
                <a href="https://twitter.com/Fajar_AS_" target="_blank"><i class="fa fa-twitter"></i><img src="{% static 'static2/img/twitter.png'%}" alt=""></a>
                <a href="https://www.linkedin.com/in/fajar-anugerah-375aa8171/" target="_blank"><i class="fa fa-linkedin"></i><img src="{% static 'static2/img/linkedin.png'%}" alt=""></a>
                <a href="https://www.instagram.com/jwjro_as_/" target="_blank"><i class="fa fa-instagram"></i><img src="{% static 'static2/img/Ig.png'%}" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="{% static 'static2/js/app.js'%}"></script>
</body> 
</html> 