{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Portofolio</title>
</head>
<body id="thisPage" >
    <nav>
        <div class="logo">
            <h4>Portfolio</h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#container-1">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#picture">Pictures</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <div class="slide">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="container" id="container-1">
        <img src="{% static 'img/hhh.jpg' %}" alt="WELCOME" >
            <div class="container-image">
                <h1>WELCOME</h1> 
                <p>“It’s not about ideas. It’s about making ideas happen.”</p>
                <br><br><br>
                <h3 id="about">ABOUT</h3>
                <p>Fajar Anugerah Subekti</p>
                <p>1806146940</p>
                <p>2018</p>
                <br><br><br>
                <h3>DESCRIPTION</h3>
                <p>Saya Menyukai Olahraga</p>
                <br><br><br>
                <h3>UNIVERSITAS INDONESIA <br>SISTEM INFORMASI
                </h3>>
                <br><br><br>
                <h3 id="picture">PICTURES</h3>
                <br>
                <img src="{% static 'img/2.jpg' %}" alt="2">
                <br><br><br>
                <div id="contact">
                    <h2 >CONTACT :</h2><br>
                    <h4>+62 81383929343</h4>
                    <br><br>
                </div>
            </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>


<!-- 
    <div class="footer">
        <p id="contact" class="ct"><h2>Contact</h2></p>
        <p class= "telp">+62 813 8392 9019</p>
    </div>
     -->
</body> 
</html>