html, body{
    margin: 0;
    padding: 0;
}
body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
nav{
    height: 10vh;
    background: black;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}