*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(105, 73, 73);
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(211, 211, 211);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(211, 211, 211);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.slide{
    display: none;
    cursor: pointer;
}
.slide div{
    width: 25px;
    height: 3px;
    background-color: rgb(211, 211, 211);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 35vh;
        top: 8vh;
        background-color:rgb(105, 73, 73);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav-links li{
        opacity: 100;
    }
    .slide{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.container img{
    width: 100%;
    margin:auto;
    
}
.container-image h1{
    text-align: center;
}
.container-image p{
    text-align: center;
}
.container-image h3{
    text-align: center;
}
.container-image img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.container-image div{
    text-align: left;
    background-color: rgb(105, 73, 73);
    color: white;
}
.container-image div h4{
    text-align: left;
    color: white;
}