body {
	background: rgba(44, 62, 80, .8);
	font-family: 'Poppins', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: beige;
	padding: 25px;
}
#content > h1 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
    margin-top: 10px;
}
.t20 {
    margin-top: 20px;
    text-align: center;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color:white;
}